html:not(.responsive) #menu {
    display: inline-flex;
    width: 1px;
}

#APconnect {
    display: inline-flex;
    position: fixed;
    top: 15px;
    right: 0;
    align-items: center;
    width: 440px;

    input {
        width: 50%;
        cursor: initial;
        margin-right: 4px;
    }

    input#APport {
        width: 25%;
    }

    button {
        min-width: 66px;
        margin-top: 6px;
    }
}