#actionLogContainer {
    #actionLogTitle {
        cursor: pointer;
    }

    #apSeparator {
        color: black;

        body.t-dark & {
            color: white;
        }
    }

    &:not(.ap) {
        #apTitle {
            color: gray;
        }

        #actionLog {
            display: block;
        }

        #apLog,
        #apMessage {
            display: none !important;
        }
    }

    &.ap {
        #actionLogTitle {
            color: gray;
        }

        #apTitle {
            color: black;

            body.t-dark & {
                color: white;
            }
        }

        #actionLog {
            display: none;
        }

        #apLog,
        #apMessage {
            display: block;
        }
    }
}

[id^="infoContainer"]:not(.ap-search) {

    span:has(+ [id^="unchecked"]),
    [id^="unchecked"] {
        color: gray;
        text-decoration: line-through;
    }
}

#infoContainerMet:not(.user-hidden) {
    display: contents !important;
}

:root.editing-hidden-vars #infoContainerMet.user-hidden {
    display: contents !important;
}